@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center__container--column {
    @apply flex flex-col justify-start items-center 
  }
  
  .center__container--row {
    @apply flex flex-row justify-center items-center 
  }

  .nav__container {
    @apply w-full h-12 border-b-2 border-slate-300 flex flex-row justify-around items-center px-2.5
  }

  .page__container {
    @apply mt-10 w-[944px] flex justify-center items-center bg-white relative
  }

  .basic__grid {
    @apply w-full h-full grid grid-cols-3 grid-rows-[masonry] items-start
  }
}

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 1.5em;
          column-count: 1;
      }
      .masonry-sm {
          column-gap: 1.5em;
          column-count: 2;
      }
      .masonry-md {
          column-gap: 1.5em;
          column-count: 3;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}